@{
    ViewData["Title"] = "Home Page";
}

<div aurelia-app="main" class="center-app">
    <div class="splash">
        <div class="message">@ViewData["Title"]</div>
        <i class="fa fa-spinner fa-spin"></i>
    </div>
</div>
     
@section scripts {
    <script src="~/dist/manifest.js" asp-append-version="true"></script>
    <script src="~/dist/main.js" asp-append-version="true"></script>
    <script src="~/dist/app.js" asp-append-version="true"></script>
    <script src="~/dist/aurelia-bootstrap.js" asp-append-version="true"></script>
    <script src="~/dist/aurelia.js" asp-append-version="true"></script>
}
